.git/**
.vscode/**
muyecodecmps/*
!muyecodecmps/__cmp/
!muyecodecmps/__cmp/core/
!muyecodecmps/__cmp/core/**
*.html
*_exec
*.m
mcmp
test.muyecode
snake.muyecode
drawing.muyecode
classdemo.muyecode
filetest.muyecode
*.log
.DS_Store
